.hero-section {
  background: #000000;
}

.hero-wrapper {
  width: 100%;
}

.hero {  
  padding: 2.5rem 3rem;
  margin: 1.0rem 0;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  height: 220px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/hero_bg.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.hero-avatar {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: auto;
  z-index: 3;
  object-fit: contain;
  object-position: bottom right;
}


.hero-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-content {
  z-index: 4;
  text-align: left;
  max-width: 70%;
}

.hero-title {
  color: #FFF;
  font-family: "Be Vietnam Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 0.6rem;
}

.hero-subtitle {
  color: #FFF;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.2rem;
}

.hero-badge {
  display: flex;
  height: 40px;
  padding: 3px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3084B0;
  width: fit-content;
  color: #FFF;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 768px) {
  .hero {
    padding: 1.5rem 1.5rem;
  }

  .hero-title {
    font-size: 1.8rem;
  }

  .hero-subtitle {
    font-size: 0.9rem;
  }

  .hero-badge {
    padding: 0.65rem 1.5rem;
    font-size: 0.9rem;
  }

  .hero-avatar {
    height: 0%;
  }

  .hero-content {
    max-width: 100%;
  }

}
